@{
  Layout = "_Layout";
}
<div class="container">
  @await Html.PartialAsync("_Navbar")
  <h1 class="display-4">Book Overview</h1>
  @using Library.Models;
  @model IEnumerable<Library.Models.Book>
  <h1>Books for @User.Identity.Name</h1>
  
      @if(Model.Any())
      {  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Book ID #</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          @foreach (Book book in Model)
          {
          <tr>
            <th scope="row">@book.BookId</th>
            <td>@book.Title</td>
            <td>@Html.ActionLink("Details", "Details", "Books", new { @id = book.BookId}, new { @class = "text-danger"})</td>
          </tr>
          }
        </tbody>
      </table>
      <p>@Html.ActionLink("Add a new Book", "Create", "Books", null, new { @class="btn btn-primary"})</p>
      } 
      else
      {
            <div class="text-center">
              <p class="lead">There are no Books to display.</p>
              <p>@Html.ActionLink("Add a new Book", "Create", "Books", null, new { @class="btn btn-primary"})</p>
            </div>
      } 
  @await Html.PartialAsync("_Footer")
</div>